name: Terraform Fmt/Validate/Plan

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  terraform-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Fmt (check)
        run: terraform fmt -recursive

      - name: Terraform Init (no backend)
        run: terraform init -backend=false

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan (save to file)
        working-directory: Project_12
        run: terraform plan -out=tfplan.out

      - name: Upload Terraform Plan Artifact
        working-directory: Project_12
        uses: actions/upload-artifact@v4
        with:
          name: plan-output
          path: tfplan.out
